* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  color: black;
  background-color: white;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: rgb(170, 170, 170);
  border-radius: 5px;
}
